<div>
    <h1>Details for {{title}}</h1>
    <div class="card">
        <h2>
            {{title}}
        </h2>
        <p> Released in {{year}} by {{publisher}} </p>
        <p>ID {{id}}</p>
    <a href="/delete/{{id}}">Delete</a>
    </div>
</div>